@model List<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CQRS Verileri</h1>

<table class="table table-bordered">
    <tr>
        <th>*</th>
        <th>Şehir</th>
        <th>Gün Gece</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>Güncelle</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DestinationId</td>
            <td>@item.City</td>
            <td>@item.DateNight</td>
            <td>@item.Price</td>
            <td>@item.Capacity</td>
            <td><a href="/Admin/Destination/DestinationDetails/@item.DestinationId" class="btn btn-outline-info">Sitede Gör</a></td>
            <td><a href="/Admin/DestinationCQRS/DeleteDestination/@item.DestinationId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/DestinationCQRS/GetDestination/@item.DestinationId" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Admin/DestinationCQRS/AddDestination/" class="btn btn-outline-dark">Yeni Tur Rotası Ekle</a>